<div class="card mt-4">
    <div class="card-header">
      General Information
    </div>
    <div class="card-body">
      <form>
        <div class="row mb-3">
          <div class="col-md-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName">
          </div>
          <div class="col-md-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <label for="birthday" class="form-label">Birthday</label>
            <input type="date" class="form-control" id="birthday">
          </div>
          <div class="col-md-3">
            <label for="gender" class="form-label">Gender</label>
            <select id="gender" class="form-control">
              <option selected>Choose...</option>
              <option>Male</option>
              <option>Female</option>
              <option>Other</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="civilStatus" class="form-label">Civil Status</label>
            <select id="civilStatus" class="form-control">
              <option selected>Choose...</option>
              <option>Single</option>
              <option>Married</option>
              <option>Divorced</option>
              <option>Widowed</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="nationality" class="form-label">Nationality</label>
            <select id="nationality" class="form-control">
              <option selected>Choose...</option>
              <option>Sinhala</option>
              <option>Tamil</option>
              <option>Muslim</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  